# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lab3.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\maksi\Desktop\6 семестр\PpPP\Lab3\.idea\.idea.Lab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
